[submodule "modules/aptx"]
	path = modules/aptx
	url = https://github.com/AndrewDDavis/Aptx.git
[submodule "modules/docsh"]
	path = modules/docsh
	url = https://github.com/AndrewDDavis/docsh.git
[submodule "modules/physpath"]
	path = modules/physpath
	url = https://github.com/AndrewDDavis/Physpath.git
[submodule "modules/getopts_long"]
	path = modules/getopts_long
	url = https://github.com/AndrewDDavis/getopts_long.git
[submodule "modules/rename-files"]
	path = modules/rename-files
	url = https://github.com/AndrewDDavis/Rename-Files.git
[submodule "modules/trash_wrapper"]
	path = modules/trash_wrapper
	url = https://github.com/AndrewDDavis/trash_wrapper.git
[submodule "modules/wrap-txt"]
	path = modules/wrap-txt
	url = https://github.com/AndrewDDavis/Wrap-text.git
[submodule "modules/borg_go"]
	path = modules/borg_go
	url = https://github.com/AndrewDDavis/borg_go.git
